<%- include('partials/header.ejs') %>

<main class="main-content">
    <div class="card-article">
        <form action="/create-new-blog" method="post">
            <div class="mb-3">
                <label for="blog-title" class="form-label">Blog title</label>
                <input type="text" class="form-control" id="blogTitle" name="blogTitle" placeholder="Ex. About myself" required>
            </div>
            <div class="mb-3">
                <label for="blog-description" class="form-label">Description</label>
                <textarea class="form-control" id="blogDescription" name="blogDescription" placeholder="Type here..." rows="3" required></textarea>
            </div>
            <input class="btn btn-warning" id="submitBtn" type="submit" value="Save" onclick="eventHandler()">
        </form>
    </div>
    <script>
        function eventHandler() {
            if(document.getElementById('blogTitle').value && document.getElementById('blogDescription').value)
            alert("New post has been created");
        }
    </script>    
</main>

<%- include('partials/footer.ejs') %>