<%- include('partials/header.ejs') %>

<main class="main-content">
    <div class="card card-article ms-6">
        <div class="card-body">
            <h3>The page has been removed</h3>
            <a href="/">Go back to home page</a>
        </div>
    </div>
</main>

<%- include('partials/footer.ejs') %>